// .modal {
//   transition: all 0.3s ease-out;
// }

.modalOpen {
  animation: openModal 0.3s ease-out forwards;
}

.modalClose {
  // opacity: 0;
  animation: closeModal 0.3s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
